body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.first-screen {
    max-height: 100vh;
}

.logo {
    object-fit: contain;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80vw;
    align-items: center;
    font-size: 0.8em;
    max-height: 10vh;
}

.header-contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.icons {
    width: 40px;
}

.header-phone, .header-mail, .header-location{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.header-mail .icons {padding-bottom: 5px;}

.header-text {
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.header-text h3, .header-text p {
    margin: 0px;
}

.header-text p {
    color: rgb(130, 131, 131);
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
    background-color: #F3FFE7;
}

.menu a {
    flex: 1;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    font-size: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center;
}

.menu a:hover {
    transform: scale(1.1);
    color: #00962E;
    font-weight: 600;
    background-color: rgb(241, 241, 241)
}

.main_screen {
    height: 80vh;
    position: relative;
}

.main_screen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;  
    height: 100%;  
    background-color: rgba(255, 255, 255, 0.459); 
}

.main_screen-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 50%;
    height: 100%;
    overflow: hidden;
}

@keyframes enlarge-title {
    from {
        transform: scale(1);
        opacity: 0;
    }
    to {
        transform: scale(1.5);
        opacity: 1;
    }
}

.title {
    font-family: "Lora", serif;
    text-align: center;
    max-width: 60%;
    font-size: 1.5rem;
    font-weight: 600;
    animation: enlarge-title 1.5s ease-out forwards;
    line-height: 1.5;
}

.title_experience {
    color: #FFF300;
    font-size: 3rem;
    line-height: 0.5;
}